.venv/
__pycache__/
*.pyc
node_modules/
dist/
.env

# Terraform
.terraform/
*.tfstate.backup

# Python
__pycache__/
*.pyc

# Wazuh installation files
*.rpm
wazuh-install-files.tar
wazuh-install.sh

# Certificates
frontend/certs/
